@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
Set being used across the site:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3
blue - #0074e1
*/

html{
    background: url(../Images/loginImage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size:14px;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url(../Images/loginImage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control{
    height: 50px;
    box-shadow: none;
    color: #8fc1e3;
}

.form-control:focus{
    border-color: #303c6c;
}

.form-control, .btn{
    border-radius: 3px;
}

.signup-form{
    width: 75% !important;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 15px;
}

.signup-form h2{
    color: #303c6c;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before{
    left: 0;
}

.signup-form h2:after{
    right: 0;
}

.signup-form .hint-text{
    color: #303c6c;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group{
    margin-bottom: 20px;
    margin-top:10px;
}

.signup-form input[type="checkbox"]{
    margin-top: 10px;
    margin-right: 7px;
}

.signup-form .btn{
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form a{
    color: whitesmoke;
    text-decoration: underline;
}

.signup-form a:hover{
    text-decoration: none;
}

.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover{
    text-decoration: underline;
}

.signup-form .text-lg-center, .text-lg-center a{
    font-size:26px;
}

.signup-form .text-lg-center{
    color: whitesmoke;
}
