@import url(https://fonts.googleapis.com/css?family=Lato:900italic);
/* color schemes:
Set being used across the site:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3
blue - #0074e1
*/

/* Styling for body */
.swap-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.swap-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar */
.nav-bar-logo{
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 28px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

.tables-container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: space-between;
    margin-left: 5%;
    padding-top: 5%;
}

#swap-class-header{
    padding-top: 1%;
    margin-left: 5%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.swap-courses-table{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 5%;
}

.student-schedule-table{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 5%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

#buttonSwap{
    padding-top:25px;
    padding-top: 5%;
    margin-left: 5%;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.footer-title{
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}
.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.footer-social li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.footer-main-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.footer-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

/*CSS to work on the icons for the footer*/
.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 60px; color:Dodgerblue;

}

ul {
    list-style: none;
    padding-left: 0;
}


