@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 4vh;
    flex-grow: 1;
}

.container-inner {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.schedule{
    padding-bottom: 5%;
}

.navbarlogo {
    float: left;
}

.nav-bar-inner {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar-inner a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 5px 33px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-bar-inner a:hover {
    /* background: rgb(255, 251, 2); or maroon or olive*/
    background: #153983;
    color:white;
}
thead tr{
    border:none;

}

#buttonSwap{
    padding-top:25px;
}

footer{
    padding-top:50px;
}