@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

/* color schemes: 
blue - #0074e1 

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3

Another set of colorful (37) current ones being used:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff
*/

.enrollment-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.enrollment-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.nav-bar-logo{
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 5px 33px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

.enroll-stud-details{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    margin-top: 3%;
    /* padding-top: 1%; */
    padding-left: 12%;
    /* padding-right: 1.5%; */
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
}

#stud-p-sems, #stud-p-name, #stud-college{
    color: #fbe8a6;
    text-decoration-line: underline;
    font-size: 20px;
}

.enroll-main-content{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #b4dfe5;
}

#enroll-left-panel, #enroll-center-panel, #enroll-right-panel{
    flex: 33.33%;
    padding: 5px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color:#153983;
    border-color: #153983;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    font-size: 1.25rem;
    border-radius: .3rem;
    line-height: 1.5;
    text-decoration: none;
    color:white;
}

.enroll-shopping-cart, .enroll-next-term-cart{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    padding-top: 3%;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 3%;
}

.enroll-shopping-cart caption{
    /* background-color: darkblue; */
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
} 

.enroll-shopping-cart{
    background: linear-gradient(
    to bottom,
    #fbe8a6,
    #fbe8a6 3.5rem,
    transparent 1rem,
    transparent 100%
  );
  background-color: oldlace;
}

.enroll-next-term-cart caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.enroll-next-term-cart{
    background: linear-gradient(
        to bottom,
        #d2fdff,
        #d2fdff 3.5rem,
        transparent 1rem,
        transparent 100%
      );
      background-color: oldlace;
}


/* .row{
    background-color: mediumvioletred;
} */

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}