@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

.stud-ctr-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.stud-ctr-inner-container{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
}

.nav-bar-logo{
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 5px 33px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

#stud-ctr-details{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    margin-bottom: 5%;
}

.student-schedule{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    padding-top: 3%;
    padding-bottom: 5%;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.stud-urgent-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    border: 3px black solid;
    margin: 0 auto;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    background: #369;
}

#urgent-info-panel1, #urgent-info-panel2, #urgent-info-panel3{
    width: 100px;
    height: 200px;
    border: 1px black solid;
    background: #eee;
    padding: 2%;
    margin: 2%;
}

#urgent-info-panel1 > h4, #urgent-info-panel2 > h4, #urgent-info-panel3 > h4{
    text-decoration: underline;
}