@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* Styling for body */

.prof-create-courses-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 4vh;
    flex-grow: 1;
}

.prof-create-courses-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar*/

.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 80px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for first div*/

.create-class-header{
    padding-top: 5%;
    margin-left: 5%;
}

#create-class-header{
    float: left;
    flex: 33.33%;
    padding: 5px;
    display: flex;
}

#create-course-table{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: space-between;
    margin-left: 5%;
    padding-top: 5%;
}

.flex-item-image{
    padding-top: 4%;
    float: right;
}

footer{
    padding-top:50px;
}