@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* Styling for body */
.prof-create-courses-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 4vh;
    flex-grow: 1;
}

.prof-create-courses-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar*/

.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 80px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for first div*/

#create-class-header{
    float: left;
    flex: 33.33%;
    padding: 5px;
    display: flex;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #31708e;
    border-radius: 4px;
    background-color:lightblue;
}

input[type=text]:focus {
    background-color: #31708e;
}  

#term-selection{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #31708e;
    border-radius: 4px;
    background-color: #8fc1e3;
}

#term-selection:focus{
    background-color: lightblue;
}

#create-course-table{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: space-between;
    margin-left: 5%;
    padding-top: 5%;
}

#create-form{
    padding-top: .4%;
    margin-right: 15%;
    margin-top: 4%;
}

.flex-item-image{
    padding-top: 4%;
    float: right;
}

h3{
    border: 3px solid #303c6c;
    padding: 2%;
    background-color: #8fc1e3;
}

#btn{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-color: #153983;
    border-width: 3px;
    background-color:#153983;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: .3rem;
    line-height: 1.5;
    box-shadow: 10px 5px 0px #31708e;
}

footer{
    padding-top:50px;
}