@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* Styling for body */

.prof-ctr-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.prof-ctr-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar*/

.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 80px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for prof details div at top of page*/

.prof-ctr-details{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    margin-top: 3%;
    padding-left: 6%;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
}

#prof-ctr-fullname-header, #prof-ctr-semester-header, #prof-ctr-college-header{
    color: #fbe8a6;
    text-decoration: underline;
    font-size: 20px;
}

/* Styling for infinit scroll/special content */

.fade-in-block{
    opacity: 0;
    font-family: 'Lato', sans-serif;
    color: orangered;
}

.special-content1{
    background-image: url("../../images/professor2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p1{
    font-family: 'Lato', sans-serif;
    min-height: 250px;
    padding-top: 10%;
    padding-left: 35%;
    font-size: 50px;
    color: #303c6c;
    text-align: center;
}

.special-content2{
    background-image: url("../../images/professor3.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p2{
    font-family: 'Lato', sans-serif;
    /* padding-top: 10%;
    padding-left: 60%; */
    min-height: 300px;
    padding: 18px;
    font-size: 20px;
    color: black;
    letter-spacing: 10px;
    background-color: transparent;
    text-align: center;
}

/* Styling for main content and buttons */

.prof-ctr-main-content{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
}

#prof-left-panel, #prof-middle-panel, #prof-right-panel{
    flex: 33.33%;
    padding: 5px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color:#153983;
    border-color: #153983;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    font-size: 1.25rem;
    border-radius: .3rem;
    line-height: 1.5;
    text-decoration: none;
    color:white;
}

/* Styling for tables */

.accordion{
    padding-top: 3%;
}

.accordion > h3{
    border: 3px solid black;
    padding-top: 1%;
    padding-left: 16%;
    padding-bottom: 1%;
    background-color: #b4dfe5;
}

#test-div, #test-div2, #test-div3{
    display:flex;
    border: 3px solid black;
    width: 100%;
    column-gap:25%;
    padding-top: 3%;
    margin-bottom: 3%;
    flex-direction:row;
    border-spacing: 5px;
    border-collapse: collapse;
    background: linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 6rem,
        transparent 1rem,
        transparent 100%
      );
      background-color: oldlace;
    
}

#test-table, #test-table2, #test-table3{
    margin-top: -2%;
    padding-top: 3%;
    width: 100%;
}

.test-caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: -3%;
}

.prof-next-term-schedule{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    padding-top: 3%;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 3%;
    background: linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 5rem,
        transparent 1rem,
        transparent 100%
      );
      background-color: oldlace;
}


caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
} 

#prof-next-term-table{
    width: 100%;
}   

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: #303c6c;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}