extends layout

block append scripts
  script(src='/Javascript/searchCourse.js')

block append styles
  link(rel='stylesheet', type='text/css', href='../CSS/addcoursestyles.css')

block content
    .container-fluid
      .row
        #course-form.col-md-6
          .card
            h5.card-header.info-color.white-text.text-center.py-4
              strong Fill out the form to search for QC First courses
            |                   
            .card-body.px-lg-5
              form.md-form.myForm(action='/searchform', method='post')
                .text-center
                  p Select the term:
                |                         
                select#term-selection(name='termselection')
                  option(value='current-term-option', name='currentTermoOtion') Summer 2021
                  |                            
                  option(value='next-term-option', name='nextTermOption') Fall 2021
                |       
                .text-center
                  p Select course department:
                |                         
                select#dept-selection(name='deptSelection')
                  option(value='cs-dept', name='csDept') Computer Science
                  |                            
                  option(value='math-dept', name='mathDept') Math
                  |                            
                  option(value='english-dept', name='englishDept') English 
                  |                            
                  option(value='arts-dept', name='artsDept') Arts               
                |                        
                label(for='input') Course ID
                |                         
                input#input.form-control(type='text', placeholder='courseid', name='courseidform')
                |                         
                //- a(href='searchresults')
                button#search-btn.btn.btn-primary(type='submit') Search course
        |             
        .col-md-6
          .img-container
            img(src='../Images/professor2.jpg', alt='classroom', width='100%')
      // end of div row
      .table-responsive
        table#stud-schedule-table.table.table-hover
          thead
          caption #{ user.lastname }'s current schedule
          |                   
          tbody
            tr
              th Class ID
              |   
              th Class Name
              |                          
              th Days
              |                      
              th Time
              |                      
              th Room
          tbody
            each course in Courses
              tr
                td= course.get("courseid")
                |  
                td= course.get("coursename")
                |                      
                td 
                |                      
                td 
                |                      
                td
                |
      // footer goes here
      hr
      |          
      footer
        .row
          .col-md-6
            p Copyright &copy; 2021 QC First
          |                
          .col-md-6.text-md-right
            a.text-dark(href='#') Terms of Use
            |  
            |                   
            span.text-muted.mx-2 |
            |  
            |                   
            a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div