extends layout

block append styles
  link(rel='stylesheet', type='text/css', href='../CSS/dropcoursestyles.css')

block content
    .container-fluid
      .table-responsive
        if course 
        table#drop-class-table.table.table-hover
          thead
          caption #{ userName }'s current schedule
          |                   
          tbody
            tr
              th Class
              |                      
              th Days
              |                      
              th Time
              |                      
              th Room
              |                      
              th Drop Course
          tbody
            each course in Courses
              tr
                td= course.get("coursename")
                |                      
                td Mon
                |                      
                td 7am
                |                      
                td= course.get("courseid")
                |                      
                td
                  button.btn.btn-danger(type='button', onclick='dropCourse()') Drop
        // footer goes here
      hr
      |          
      footer
        .row
          .col-md-6
            p Copyright &copy; 2021 QC First
          |                
          .col-md-6.text-md-right
            a.text-dark(href='#') Terms of Use
            |  
            |                   
            span.text-muted.mx-2 |
            |  
            |                   
            a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div